.leadership-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.content {
  width: 100%;
  max-width: 800px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.sidebar {
  flex: 1;
}

.card {
  text-align:right;
}

.chairman-img {
  width: auto;
  height: 0 auto;
  
}

.admission-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

.admission-button:hover {
  background-color: #0056b3;
}