/* Fixed Image Container */
.fixed-image-container {
    width: 100%;
    height: auto; /* Adjust height as needed */
    position: relative;
    overflow: hidden; /* Prevent overflow */
}

.fixed-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}