.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  background: linear-gradient(to right, #8B0000, #FF0000);
  color: white;
  border-radius: 100px;
}

.header-icon {
  font-size: 20px;
  margin-right: 8px;
}

.header-text {
  font-weight: bold;
  font-size: 17px;
  margin-right:auto ; /* Add this to push the text to the right */
}

.home-link {
  color: inherit;
  text-decoration: none;
}